<!-- 상단 메뉴 부분 -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top shadow-lg">
	<a class="navbar-brand" href="/">관리자페이지</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
	        data-target="#navMenu">
		<span class="navbar-toggler-icon"></span>        
	</button>
	<div class="collapse navbar-collapse" id="navMenu">
		<ul class="navbar-nav">
			{% comment %} {% for menu in request.menu_list %}
			<li class="nav-item">
				<a href="/map/map_main?map_info_idx={{menu.map_info_idx}}" class="nav-link">{{menu.map_info_name}}</a>
			</li>
			{% endfor %} {% endcomment %}

			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  실시간 프로파일링 데이터
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				  <a class="dropdown-item" href="/profile/galaxy10profiledatatable">갤럭시 S 10</a>
				  <a class="dropdown-item" href="/profile/galaxy9profiledatatable">갤럭시 S 9</a>
				  <a class="dropdown-item" href="/profile/galaxy8profiledatatable">갤럭시 S 8</a>
				  <a class="dropdown-item" href="/profile/iphone11profiledatatable">아이폰 11</a>
				</div>
			  </div>
			<li class="nav-item">|   |</li>

			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  프로파일링 그래프
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				  <a class="dropdown-item" href="/profile/galaxy10profiledatatable">FPS 그래프</a>
				  <a class="dropdown-item" href="/profile/galaxy9profiledatatable">Set Pass Call 그래프</a>
				</div>
			</div>
			  

			<li class="nav-item">
				<a href="/profile/galaxy10profiledatatable" class="nav-link">갤럭시 S 10</a>
			</li>
			<li class="nav-item">
				<a href="/profile/galaxy9profiledatatable" class="nav-link">갤럭시 S 9</a>
			</li>
			<li class="nav-item">
				<a href="/profile/galaxy8profiledatatable" class="nav-link">갤럭시 S 8</a>
			</li>
			<li class="nav-item">
				<a href="/profile/IPhone11filedatatable" class="nav-link">아이폰 11</a>
			</li>
		</ul>
		
		<ul class="navbar-nav ml-auto">
			{% if request.session.login_chk == True%}
			<li class="nav-item">
				<a href="/user/modify_user" class="nav-link">정보수정</a>
			</li>
			<li class="nav-item">
				<a href="/user/logout" class="nav-link">로그아웃</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a href="/user/login" class="nav-link">로그인</a>
			</li>
			<li class="nav-item">
				<a href="/user/join" class="nav-link">회원가입</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>