<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>한컴프론티스</title>
<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<!-- 상단 메뉴 부분 -->
{% include 'top_menu.html' %}

<div class="container" style="margin-top:100px">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div class="card shadow">
				<div class="card-body">
					<form action="/map/map_modify_result" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<input type="hidden" name="map_info_idx" value="{{map_info_idx}}"/>
						<input type="hidden" name="map_data_idx" value="{{map_data_idx}}"/>
						<input type="hidden" name="page_num" value="{{page_num}}"/>
						<div class="form-group">
							<label for="map_data_writer_name">작성자</label>
							<input type="text" id="map_data_writer_name" name="map_data_writer_name" class="form-control" value="{{map_model.map_data_writer_idx.user_name}}" disabled="disabled"/>
						</div>
						<div class="form-group">
							<label for="map_data_date">작성날짜</label>
							<input type="text" id="map_data_date" name="map_data_date" class="form-control" value="{{map_model.map_data_date|date:'Y-m-d'}}" disabled="disabled"/>
						</div>
						<div class="form-group">
							<label for="map_data_subject">제목</label>
							<input type="text" id="map_data_subject" name="map_data_subject" class="form-control" value="{{map_model.map_data_subject}}"/>
						</div>
						<div class="form-group">
							<label for="map_data_content">내용</label>
							<textarea id="map_data_content" name="map_data_content" class="form-control" rows="10" style="resize:none">{{map_model.map_data_text}}</textarea>
						</div>
						<div class="form-group">
							<label for="map_data_file">첨부 이미지</label>
							{% if map_model.map_data_file %}
							<img src="{{map_model.map_data_file.url}}" width="100%"/>	
							{% endif %}
							<input type="file" name="map_data_file" id="map_data_file" class="form-control" accept="image/*"/>					
						</div>
						<div class="form-group">
							<div class="text-right">
								<button type="submit" class="btn btn-primary">수정완료</button>
								<a href="/map/map_read?map_info_idx={{map_info_idx}}&map_data_idx={{map_data_idx}}&page_num={{page_num}}" class="btn btn-info">취소</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div>
</div>

{% include 'bottom_info.html'%}
</body>
</html>
