<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>관리자페이지</title>
<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

{% include 'top_menu.html' %}

{% comment %} {% load render_table from django_tables2%} {% endcomment %}
{% comment %} {% load bootstrap4 %} {% endcomment %}
{% comment %} {% if table %}
    <p>{{ table.rows|length }} 개의 데이터가 있습니다.</p>
    <table>
        {% render_table table %}
    </table>
{% else %}
    <p>데이터가 없습니다.</p>
{% endif %} {% endcomment %}

{% comment %} <table class="table table-bordered">
    {% render_table table %}
</table>
<div>
	<canvas id="myChart"></canvas>
</div> {% endcomment %}

<!-- 게시판 미리보기 부분 -->
<div  style="margin-top:100px">
	{% comment %} <div class="row"> {% endcomment %}
		{% comment %} <div class="col-xl-24" style="margin-top:20px"> {% endcomment %}
			<div class="card shadow">
				<div class="card-body">
                    <h4 class="card-title">Project SealM</h4>
                    <h4 class="card-title">device {{device}}</h4>
					<table class="table table-hover" id='board_list'>
						<thead>
							<tr>
                                <th class="text-center">profile_count</th>
                                <th class="text-center">scene_name</th>
                                <th class="text-center">fps</th>
                                <th class="text-center">min_fps</th>
                                <th class="text-center">avg_fps</th>
                                <th class="text-center">max_fps</th>
                                <th class="text-center">set_pass_call</th>
                                <th class="text-center">draw_call</th>
                                <th class="text-center">tris</th>
                                <th class="text-center">vertices</th>
                                <th class="text-center">total_memory</th>
                                <th class="text-center">system_memory</th>
                                <th class="text-center">texture_memory</th>
                                <th class="text-center">mesh_memory</th>
							</tr>
						</thead>
						<tbody>
							{% for r1 in content_list%}
							<tr>
                                <td class="text-center">{{r1.profile_count}}</td>
                                <td class="text-center">{{r1.scene_name}}</td>
                                <td class="text-center">{{r1.fps}}</td>
                                <td class="text-center">{{r1.min_fps}}</td>
                                <td class="text-center">{{r1.avg_fps}}</td>
                                <td class="text-center">{{r1.max_fps}}</td>
                                <td class="text-center">{{r1.set_pass_call}}</td>
                                <td class="text-center">{{r1.draw_call}}</td>
                                <td class="text-center">{{r1.tris}}</td>
                                <td class="text-center">{{r1.vertices}}</td>
                                <td class="text-center">{{r1.total_memory}}</td>
                                <td class="text-center">{{r1.system_memory}}</td>
                                <td class="text-center">{{r1.texture_memory}}</td>
                                <td class="text-center">{{r1.mesh_memory}}</td>
								{% comment %} <th><a href='/map/map_read?map_info_idx={{c2.map_info_idx.map_info_idx}}&map_data_idx={{c2.map_data_idx}}&page_num=1'>{{c2.map_data_subject}}</a></th> {% endcomment %}
								{% comment %} <td class="text-center d-none d-xl-table-cell">{{c2.map_data_date|date:'Y-m-d'}}</td> {% endcomment %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% comment %} </div> {% endcomment %}
	{% comment %} </div> {% endcomment %}
</div>
	
{% include 'bottom_info.html'%}


<script>
    setInterval(function() {
        location.reload();
    }, 5000);    
  </script>
</body>
</html>









