<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>관리자페이지</title>
<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

{% include 'top_menu.html' %}

<!-- 게시판 미리보기 부분 -->
<div  style="margin-top:100px">
    <div class="card shadow">
        <div class="card-body">
            <div class="card-body">
                <h4 class="card-title">Project SealM</h4>
                <h4 class="card-title">device {{device}}</h4>
                <a href="/profile/remove_profiledatatable?device={{device}}" class="btn btn-danger btn-lg" role="button">데이터 전체 삭제</a>
            </div>
            <table class="table table-hover" id='board_list'>
                <thead>
                    <tr>
                        <th class="text-center">profile_count</th>
                        <th class="text-center">scene_name</th>
                        <th class="text-center">fps</th>
                        <th class="text-center">min_fps</th>
                        <th class="text-center">avg_fps</th>
                        <th class="text-center">max_fps</th>
                        <th class="text-center">set_pass_call</th>
                        <th class="text-center">draw_call</th>
                        <th class="text-center">tris</th>
                        <th class="text-center">vertices</th>
                        <th class="text-center">total_memory</th>
                        <th class="text-center">system_memory</th>
                        <th class="text-center">texture_memory</th>
                        <th class="text-center">mesh_memory</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r1 in content_list%}
                    <tr>
                        <td class="text-center">{{r1.profile_count}}</td>
                        <td class="text-center">{{r1.scene_name}}</td>
                        <td class="text-center">{{r1.fps}}</td>
                        <td class="text-center">{{r1.min_fps}}</td>
                        <td class="text-center">{{r1.avg_fps}}</td>
                        <td class="text-center">{{r1.max_fps}}</td>
                        <td class="text-center">{{r1.set_pass_call}}</td>
                        <td class="text-center">{{r1.draw_call}}</td>
                        <td class="text-center">{{r1.tris}}</td>
                        <td class="text-center">{{r1.vertices}}</td>
                        <td class="text-center">{{r1.total_memory}} MB</td>
                        <td class="text-center">{{r1.system_memory}} MB</td>
                        <td class="text-center">{{r1.texture_memory}} MB</td>
                        <td class="text-center">{{r1.mesh_memory}} KB</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
	
{% include 'bottom_info.html'%}


<script>
    setInterval(function() {
        location.reload();
    }, 5000);
  </script>
</body>
</html>









